<%- include('../partials/header') %>
<body>
  <script type="importmap">
    {
      "imports": {
        "three": "./build/three.module.js",
        "three/examples/jsm/loaders/GLTFLoader": "./jsm/loaders/GLTFLoader.js",
        "three/examples/jsm/controls/OrbitControls": "./jsm/controls/OrbitControls.js",
        "three/examples/jsm/libs/stats.module": "./jsm/libs/stats.module.js",
        "lil-gui": "./dist/lil-gui.esm.js"
      }
    }
  </script>
  <!-- <script id="helper" data-name='<%= url %>'  src="javascripts/landingPage.js"></script> -->
  
  <script type="module" src="javascripts/landingPage.js"></script>

  <div class="discover_container">
  <form id="" action="/discover/<%= products.sku %>" method="GET">
    <select name="productSku"">
      <%- products.map(p=>
        `<option value="${p.sku}">${p.product_name}</option>`
        ).join('') %>
    </select>
    <button type="submit">Details</button>
  </form>
  
  <div>


</body>

<!-- 
<table id="list">
    <thead>
      <tr>
        <th>Title</th>
        <th>Release<br>Year</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
     <% products.forEach(function(p) { %>
        <tr>
          <td><%= p.sku %></td>
          <td><%= p.product_name %></td>
          <td><a href="/discover/<%= p.sale_price %>">DETAILS</a></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
     -->
