<%- include('../partials/header') %>
<body>
  <script type="importmap">
    {
      "imports": {
        "three": "../build/three.module.js",
        "three/examples/jsm/loaders/GLTFLoader": "../jsm/loaders/GLTFLoader.js",
        "three/examples/jsm/controls/OrbitControls": "../jsm/controls/OrbitControls.js",
        "three/examples/jsm/libs/stats.module": "../jsm/libs/stats.module.js",
        "lil-gui": "../dist/lil-gui.esm.js"
      }
    }
  </script>
 <script id="helper" data-name='<%= objectPath %>'  src="../javascripts/discoverShow.js"></script>
    <script type="module" src="../javascripts/discoverShow.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />


<div id="furniture_details" >
    <div id="product_name"><%= furnitureDetails.product_name %></div>
    <div id="product_description"><%= furnitureDetails.product_description%></div>
    <div id="product_price"><%= furnitureDetails.sale_price%></div>
</div>
    


  <!-- <% if (user) { %>
        <input type="submit" value="Add To Wish List">
        <input type="submit" value="Add Review">
        <% } %>

        <% if (user) { %>
            <input type="submit" value="Add To Wish List">
            <input type="submit" value="Add Review">
            <% } %> -->


    <div class="button_container"> 
        <a class="link_button">Read Reviews</a>
        <a class="link_button">Add to Wish List</a>
    </div>


</body>
