<%- include('../partials/header') %>
<body>
  <script type="importmap">
    {
      "imports": {
        "three": "../build/three.module.js",
        "three/examples/jsm/loaders/GLTFLoader": "../jsm/loaders/GLTFLoader.js",
        "three/examples/jsm/controls/OrbitControls": "../jsm/controls/OrbitControls.js",
        "three/examples/jsm/libs/stats.module": "../jsm/libs/stats.module.js",
        "lil-gui": "../dist/lil-gui.esm.js"
      }
    }
  </script>
 <script id="helper" data-name='<%= objectPath %>'  src="../javascripts/discoverShow.js"></script>
    <script type="module" src="../javascripts/discoverShow.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <div class="show_container">

<div id="furniture_details" >
    <div id="product_name"><%= furnitureDetails.product_name %></div>
    <div id="product_description"><%= furnitureDetails.product_description%></div>
    <div id="product_price"><%= furnitureDetails.sale_price%></div>
</div>

<div class="review_container" >
  <% if (furnitureDetails.reviews.length) { %>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Review</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        <% let total=0 %>
          <% furnitureDetails.reviews.forEach(function(f) { %>
              <tr>
                <td class="review-user"><img alt="avatar" src="<%= f.userAvatar %>"><%= f.userName %></td>
                <td>
                  <%= f.createdAt.toLocaleDateString() %>
                </td>
                <td>
                  <%= f.content %>
                </td>
                <td>
                  <%= f.rating %>
                </td>
                <td>
                  <% if (user && user._id.equals(f.user)) { %>
                    <form action="/review/<%= f._id %>?_method=DELETE" method="POST">
                      <button type="submit">X</button>
                    </form>
                  <% } %>
                </td>
              </tr>
              <% }); %>
                <tr>
                  <td colspan="2"></td>
                  <td><strong>
                      <%= (total / furnitureDetails.reviews.length).toFixed(1) %>
                    </strong></td>
                </tr>
      </tbody>
    </table>
    <% } else { %>
      <h5>No Reviews Yet</h5>
      <% } %>
</div>




  <% if (user) { %>
    <div class="button_container"> 
        <a class="link_button">Add to Wish List</a>
      <input type="submit" value="Add To Wish List">
    

      <a href="/review/<%= furnitureDetails._id %>" class="link_button">Add Review</a>
    </div>
    <% } %>

    
  </div>

</body>
