<%- include('../partials/header') %>
<body>
  <script type="importmap">
    {
      "imports": {
        "three": "../build/three.module.js",
        "three/examples/jsm/loaders/GLTFLoader": "../jsm/loaders/GLTFLoader.js",
        "three/examples/jsm/controls/OrbitControls": "../jsm/controls/OrbitControls.js",
        "three/examples/jsm/libs/stats.module": "../jsm/libs/stats.module.js",
        "lil-gui": "../dist/lil-gui.esm.js"
      }
    }
  </script>
 <script id="helper" data-name='<%= objectPath %>'  src="../javascripts/discoverShow.js"></script>
    <script type="module" src="../javascripts/discoverShow.js"></script>

<div class="furniture_details" >
    <h1><%= furnitureDetails.product_name %></h1>
    <h2><%= furnitureDetails.product_description%></h2>
    <h2><%= furnitureDetails.sale_price%></h2>
</div>
    
  <!-- <% if (user) { %>
        <input type="submit" value="Add To Wish List">
        <input type="submit" value="Add Review">
        <% } %>

        <% if (user) { %>
            <input type="submit" value="Add To Wish List">
            <input type="submit" value="Add Review">
            <% } %> -->


    <div> Product Details </div>


    <div> Reviews </div>


</body>
