<%- include('../partials/header') %>
<body>
  <script type="importmap">
    {
      "imports": {
        "three": "../../build/three.module.js",
        "three/examples/jsm/loaders/GLTFLoader": "../../jsm/loaders/GLTFLoader.js",
        "three/examples/jsm/controls/OrbitControls": "../../jsm/controls/OrbitControls.js",
        "three/examples/jsm/libs/stats.module": "../../jsm/libs/stats.module.js",
        "lil-gui": "../dist/lil-gui.esm.js"
      }
    }
  </script>
 <script id="helper" data-name='<%= objectPath %>'  src="../../javascripts/discoverShow.js"></script>
    <script type="module" src="../../javascripts/discoverShow.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />


<div id="furniture_details" >
    <div id="product_name"><%= furnitureData.product_name %></div>
</div>

<% if (furnitureData.notes.length) { %>
  <table id="edit_add_container" >
    <thead>
      <tr>
        <th>Date</th>
        <th></th> 
        <th></th> 
        <th>Note</th>
      </tr>
    </thead>
    <tbody>
        <% furnitureData.notes.forEach(function(n) { %>
            <tr>
              <td>
                <%= n.createdAt.toLocaleDateString() %>
              </td>
              <td>
                <form id="edit_note" action="/notes/<%=n._id%>?_method=PUT" method="POST">
                  <textarea type="text" name="content"><%= n.content %></textarea>
                  <input class="delete_button" type="submit" value="Edit Note" style="float: right;">
                </form>
              </td>
              <td>
                <% if (user && user._id.equals(n.user)) { %>
                  <form id="edit_note" action="/notes/<%= n._id %>?_method=DELETE" method="POST">
                    <button class="delete_button" type="submit">Delete</button>
                  </form>
                <% } %>
              </td>
            </tr> 
            <% }); %> 
    </tbody>
  </table>
  <% } else { %>
    <div id="product_description">No Notes Yet</div>
    <% } %>
  </div>


<% if (user) { %>
    <div class="note_container">
      <table>

    <form class="note_item" id="product_description" method="POST" action="/notes/<%= furnitureData._id %>">
      <label id="product_description">Note:</label>
      <textarea type="text" name="content"> </textarea>
      <input class="delete_button" type="submit" value="Add Note" style="float: right;">
    </form>

      </table>
<% } %>
